*{
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1.4;
    
}

a{
    text-decoration:none;
} 

/* ...............Home Page Styling..............................   */

#home-section{       
    position: fixed;
    color: #daccbee8;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    background-color: #612c01fa;
    background-image: linear-gradient(118deg,#0a0b5a3b,#42050542), url("Tic-Tac-Toc-Home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title{
    margin: 10px auto 30px;
}

#computer,#human,a #instruction{
    width: 50%;
    max-width: 300px;
    height: 50px;
    font-size: 18px;
    display: block;
    margin: 15px auto 0px;
}


/* .................. Game Page Styling.........................   */


#game-section{
    position: fixed;
    color: #dabebee8;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    text-align: center;
    z-index:1;
    background-color: #04044d;
    background-image: linear-gradient(115deg,#5c07588e,#2f065598), url("Tic-Tac-Toe-Game.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#reset,#exit{
    width: 45%;
    max-width: 250px;
    height: 45px;
    font-size: 18px;
    display:run-in;
    margin: 15px 15px 0px 15px;
}

#board-container{
    max-width: 650px;
    width:calc(min(67vh,67vw));
    height: calc(min(67vh,67vw));
    max-height: 650px;
    background-color: #26058054;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 10px auto; 
    justify-content: space-between;
    align-content: space-between;
}

.cell{
    background-color: #f3f3f3;
    width: calc(min(22vw,22vh,216px));
    height: calc(min(22vw,22vh,216px));
    font-size: calc(min(10vw,10vh,150px)); 
    text-align: center;
}

@media only screen and (max-width:615px){
    #title{
        font-size: 2rem;
    }

    #computer,#human,a #instruction{
        height: 55px;
        font-size: 1.3rem;
    }
}
